*.exe
*.dll
*.pdb
*.suo
*.idb
*.pch
*.sdf
*.opensdf
*.ilk
*.aps
*.dat
*.zip
*.tlb
*.obj
*.db
*.dat
*.map
*.log
*.tlog
*.ipch
*.cache
*.resources
*.vcxproj.user
*.embed.manifest
*.embed.manifest.res
*.intermediate.manifest
*.lastbuildstate
